body {
  margin: 0px;
}
/*navbar*/
.nav-container {
  position: sticky;
  z-index: 3;
  top: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background-color: #1b1b1b;
}

.navbar-logo {
  justify-self: start;
  justify-content: center;
  align-items: center;

  margin-left: 20px;
  color: #fff;
  cursor: pointer;
}

.ver-carrito {
  font-size: 25px;
  margin-right: 20px;
  cursor: pointer;
  color: #fff;
  background-color: rgb(243, 156, 18);
  border-radius: 0.3rem;
  max-height: .2rem;
}

/*Banner styles*/
.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://images.unsplash.com/photo-1541462608143-67571c6738dd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}

.banner-container {
  text-align: center;
  padding: 15% 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 62px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

/*product cards*/
.shop-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 10px;
}

.card > img {
  width: 90%;
  height: 250px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(243, 156, 18);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/*modal content*/
.modal-container {
  /* Estilos generales del modal */
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color: #fff !important;
  background-color: #121212eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*for the top*/
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
}

.modal-container::-webkit-scrollbar {
  /* Estilos de la barra de desplazamiento del modal */
  display: none;
}
.modal-header {
  /* Estilos del encabezado del modal */
  display: flex;
  justify-content: space-around;
  background-color: #121212eb;
  color: #fff;
  width: 100%;
}

.modal-header-title {
    /* Estilos del título del encabezado del modal */
  justify-self: start;
}

.modal-header-button {
    /* Estilos del botón de cierre del modal */
  cursor: pointer;
}

.modal-container > .modal-content {
    /* Estilos del contenido de cada producto en el carrito */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px;
}

.modal-container > div > img {
    /* Estilos de la imagen de cada producto en el carrito */
  height: 120px;
  width: 120px;
}

.total-content {
    /* Estilos del total a pagar en el carrito */
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
}

.delete-curso {
  /* Estilos del botón de eliminación de un producto */
  cursor: pointer;
}

.cantidad-carrito {
  /* Estilos del contador de productos en el carrito */
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  padding: 4px;
  top: 30px;
  right: 14px;
  position: absolute;
  display: none;
}


@media only screen and (max-width: 920px) {
    /* Estilos para pantallas de ancho máximo de 750px (responsive) */
  .modal-container {
    width: 100%;
    margin: 0;
    min-height: 88vh;
  }

  .modal-container > .modal-content {
    justify-content: space-between;
    width: 100%;
    margin: 2px;
  }

  .modal-container > div > img {
    height: 80px;
    width: 80px;
  }
} 

/* estilos de libreria modo prueba */
/* .my-swal-container {
  background-color: #f0f0f0;
  border: 2px solid #ccc;
}

.my-swal-title {
  color: #ff0000;
  font-size: 24px;
}

.my-swal-text {
  color: #333;
  font-size: 18px;
} 

.my-swal-icon {
  color: #ff0
} */


